.navigation {


    .navigation__link {
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: -0.2px;
        padding: 8px 16px;
        border-radius: 6%;
        color: $textColor_2;
        text-decoration: none;

        &:focus {
            background-color: $whiteColor;
            color: $textColor_2;
            text-decoration: none;
            border: $tablePar_2;
        }
    }

    .navigation__list {
        padding: 0 0 0 32px;
        display: flex;
        list-style: none;
        margin: 0;
        justify-content: flex-start;
        white-space: nowrap;
        flex-wrap: wrap;


        @media (max-width: 1024px) {
            padding: 0 0 0 24px;
            flex-wrap: nowrap;
            overflow-x: auto;
        }


        @media (max-width: 521px) {
            padding: 0 0 0 16px;
        }
    }

    .navigation__point {
        min-height: 40px;
        display: flex;
    }

}