.slider-table {
    margin: 0 auto;
    width: calc(100% - 64px);
    border-radius: 6px;
}



.slider-table__container {
    display: grid;
    grid-template-columns: minmax(354px, 470px) minmax(77px, 230px) minmax(82px, 200px) minmax(119px, 120px);
    column-gap: 9%;
    align-items: center;
    padding: 16px 0;
    border-bottom: $tablePar_6;
}

.slider-table__row {
    box-sizing: border-box;
    padding: 0px 24px;
    background-color: $whiteColor;
}

.slider-table__row_transparent {
    line-height: 16px;
    color: $textColor_2;
    mix-blend-mode: normal;
    opacity: 0.72;
    background-color: transparent;
}

.slider-table__subtitle {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $textColor_1;
    margin: 0;
    text-align: left;
}

.slider-table__subtitle_color_grey {
    color: #7E7E82;
    line-height: 16px;
    mix-blend-mode: normal;
    opacity: 0.72;
    margin: 0 4px 0 0;
}

@media (max-width: 860px) {
    .slider-table {
        width: calc(100% - 48px);
    }

    .slider-table__row {
        padding: 0px 16px;
    }
}

@media (max-width: 767px) {
    .slider-table {
        width: calc(100% - 24px);
    }

    .slider-table__container {
        grid-template-columns: minmax(190px, 470px) minmax(77px, 230px) minmax(82px, 200px) minmax(119px, 120px);
        column-gap: 0;
    }

    .slider-table__subtitle {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    .slider-table {
        display: none;
    }

    .slider-table__subtitle {
        font-size: 14px;
    }
}

@media (max-width: 1440px) {
    .slider-table__container {
        column-gap: 20px;
    }
}