.navigate-menu__link {
    text-decoration: none;
    color: #1B1C21;

    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.navigate-menu__link:focus {
    color: #7E7E82;
}

.navigate-menu__link:focus::before {
    content: '';
    display: flex;
    border-radius: 0 4px 4px 0;
    width: 4px;
    height: 32px;
    margin: -2px -4px -4px 0;
    transform: translateX(-24px);
    background-color: #41F6D7;
    padding: 0;
}
