.container-logo {
    display: none;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    &:before {
        display: none;

        @media only screen and (min-width: 550px) and (max-width: 1200px) {
            content: '';
            width: 2px;
            display: inline-flex;
            height: 32px;
            border-radius: 1px;
            background-color: $whiteColor;
            margin: 0 20px 0 4px;
            vertical-align: super;
        }

        @media (max-width: 520px) {
            display: none;
        }

    }

    .container-logo__image {
        width: 96px;
        height: 50px;

        @media only screen and (min-width: 521px) and (max-width: 1024px) {
            margin: 0;
        }


        @media (max-width:520px) {
            margin: 0 16px 0 0;
        }

    }

    @media (max-width: 1200px) {
        display: block;
    }

}