.slider-table__subtitle {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

    color: #1B1C21;

    margin: 0;
    text-align: left;
}

@media (max-width: 767px) {
    .slider-table__subtitle {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    .slider-table__subtitle {
        font-size: 14px;
    }
}