.container-buttons {
    display: flex;
    align-items: center;
    margin: 0 32px 0 0;
}
@media (max-width: 1024px) {
    .container-buttons{
        margin: 0 0px 0 0;
    }
}

.container-buttons:nth-of-type(1) {
    display: none;
}


@media (max-width: 1024px) {
    .container-buttons:nth-of-type(1) {
        display: flex;
    }
}

@media only screen and (min-width: 521px) and (max-width: 1024px) {
    .container-buttons:nth-of-type(1)::after {
        content: '';
        width: 2px;
        display: inline-flex;
        height: 32px;
        border-radius: 1px;
        background-color: #eaeaea;
        margin: auto 20px auto 4px;
        vertical-align: super;
    }
}

@media (max-width:520px) {
    .container-buttons:nth-of-type(1) {
        display: none;
    }
}