.container-about__image{
    width: 531px;
    display: flex;
    margin: 0 auto;
    padding: 7px 0 49px 0;
    margin: 0 28px 0 36px;
}


@media only screen and (min-width: 656px) and (max-width: 1024px) {
    .container-about__image {
        width: 360px;
        padding: 0 0 40px 0;
        margin: 0 25px 0 48px;
    }
}

@media (max-width: 656px) {
    .container-about__image {
        width: 320px;
        padding: 16px 0 35px 0;
        margin: 0 auto;
    }
}