.slider__box {
    width: 240px;
    height: 72px;
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #e7e7e7;
}

@media (max-width: 1120px) {
    .slider__box {
        width: 224px;
    }
}
@media (max-width: 520px) {
    .slider__box {
        width: 240px;
    }
}

