.navigate-menu {

    .navigate-menu__item {
        margin: 0 0 28px 0;
        display: flex;
        align-items: center;

        @media (max-width: 1024px) {
            margin: 0 0 24px 0;
        }

        &:last-child {
            margin: 0;
        }
    }

    .navigate-menu__list {
        margin: 0;
        padding: 37px 0 32px 0;

        @media (max-width: 1024px) {
            padding: 46px 0 32px 0;
        }

        @media (max-width: 520px) {
            padding: 21px 0 32px 0;
        }
    }

    .navigate-menu__link {
        text-decoration: none;
        color: $textColor_1;

        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        display: flex;
        align-items: center;
        font-weight: 500;

        &:focus {
            color: $textColor_2;

            &:before {
                content: '';
                display: flex;
                border-radius: 0 4px 4px 0;
                width: 4px;
                height: 32px;
                margin: -4px -4px -4px 0;
                transform: translateX(-24px);
                background-color: $bgColor_6;
            }
        }


    }
}