.modal-item__content {
    width: 440px;
    min-height: 940px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    padding: 0 0 0 32px;
    box-sizing: border-box;
}

@media (max-width: 560px) {
    .modal-item__content {
        width: 100%;
        padding: 0 0 0 16px;
        min-height: 676px;
    }
}