.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
    bottom: 30px;
    display: flex;
    justify-content: center;
}
