.button-accept {
    background-color: $bgColor_2;
    font-family: 'TT Lakes';
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    padding: 4px 4px 4px 12px;
    border-radius: 16px;
    background-image: url(../images/sliderTableBtn.svg);
    background-repeat: no-repeat;
    background-position: 85% 50%;
    color: $whiteColor;
    box-sizing: border-box;
    min-width: 119px;
    margin: 7px 0 0 0;
}
