.container-about{
    margin: 7px 0 0 0;
}

@media only screen and (min-width: 656px) and (max-width: 1024px) {
    .container-about {
        margin: 32px 0 0 0;
    }
}

@media only screen and (min-width: 656px) {
    .container-about {
        display: flex;
        justify-content: center;
    }
}