@import url(./swiper-bundle.min.css);
@import url(../fonts/TTLakes/stylesheet.css);
@import url(../blocks/body/body.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__row/header__row.css);

@import url(../blocks/container-buttons/container-buttons.css);

@import url(../blocks/container-buttons/_desctop/container-buttons_desctop.css);

@import url(../blocks/container-buttons/__subtitle/container-buttons__subtitle.css);

@import url(../blocks/round-button/round-button.css);
@import url(../blocks/round-button/_burger/round-button_burger.css);
@import url(../blocks/round-button/_call/round-button_call.css);
@import url(../blocks/round-button/_support/round-button_support.css);
@import url(../blocks/round-button/_profile/round-button_profile.css);
@import url(../blocks/round-button/_repair/round-button_repair.css);
@import url(../blocks/round-button/_lupa/round-button_lupa.css);
@import url(../blocks/round-button/_exit/round-button_exit.css);
@import url(../blocks/round-button/_search/round-button_search.css);

@import url(../blocks/container-logo/container-logo.css);
@import url(../blocks/container-logo/__image/container-logo__image.css);

@import url(../blocks/main/main.css);

@import url(../blocks/page/__title/page__title.css);

@import url(../blocks/header-nav/header-nav.css);

@import url(../blocks/navigation/navigation.css);
@import url(../blocks/navigation/__list/navigation__list.css);
@import url(../blocks/navigation/__point/navigation__point.css);
@import url(../blocks/navigation/__link/navigation__link.css);

@import url(../blocks/container-about/container-about.css);
@import url(../blocks/container-about/__collumn/container-about-collumn.css);
@import url(../blocks/container-about/__subtitle/container-about__subtitle.css);
@import url(../blocks/container-about/__more-information/container-about__more-information.css);
@import url(../blocks/container-about/__image/container-about__image.css);
@import url(../blocks/container-about/__subtitle-box/container-about__subtitle-box.css);

@import url(../blocks/container-href/container-href.css);





/* -----------------burger-menu---------------------------------------- */

@import url(../blocks/menu/menu.css);

@import url(../blocks/header-menu/header-menu.css);
@import url(../blocks/header-menu/__row/header-menu__row.css);
@import url(../blocks/header-menu/__logo/header-menu__logo.css);
@import url(../blocks/header-menu/__button/header-menu__button.css);

@import url(../blocks/navigate-menu/navigate-menu.css);
@import url(../blocks/navigate-menu/__list/navigate-menu__list.css);
@import url(../blocks/navigate-menu/__item/navigate-menu__item.css);
@import url(../blocks/navigate-menu/__link/navigate-menu__link.css);

@import url(../blocks/contacts-menu/contacts-menu.css);
@import url(../blocks/contacts-menu/__buttons/contacts-menu__buttons.css);
@import url(../blocks/contacts-menu/__mail/contacts-menu__mail.css);
@import url(../blocks/contacts-menu/__tel/contacts-menu__tel.css);

@import url(../blocks/.container-language/__lang/container-language__lang.css);


/* -----------------------slider----------------------- */

@import url(../blocks/slide-title/slide-title.css);

@import url(../blocks/slider/slider.css);
@import url(../blocks/slider/__box/slider__box.css);
@import url(../blocks/slider/__button/slider__button.css);

@import url(../blocks/slide-more/slide-more.css);

@import url(../blocks/open/open.css);


@import url(../blocks/swiper/swiper.css);
@import url(../blocks/swiper-slide/__content/swiper-slide__content.css);
@import url(../blocks/swiper-slide/-active/swiper-slide-active.css);

@import url(../blocks/swiper-pagination/-bullet/swiper-pagination-bullet.css);
@import url(../blocks/swiper-pagination/-fraction/swiper-pagination-fraction.css);


/* ----------------------------second-slider--------------------------------- */



.second-slider {
    padding: 50px 0 0 0;
}

.slider__title {
    margin: 16px auto 0 16px;

    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;

    color: #1B1C21;
}

.slider__box_big {
    padding: 0;
    height: 160px;
    flex-direction: column;
}

.slider__bottom_right-bottom {
    margin: 0 16px 16px auto;
}

.swiper-second {
    height: 216px;
}

.swiper-pagination_second:nth-child(2) {
    bottom: 9px;
}


/* ------------------------------------slider-third-------------------------- */


* {
    /* outline: 1px solid green; */
}

.slider-table {
    margin: 0 auto;
    width: calc(100% - 64px);
    border-radius: 6px;

}

@media (max-width: 860px) {
    .slider-table{
        width: calc(100% - 48px);
    }
}

.slider-table__row {
    box-sizing: border-box;
    padding: 0px 24px;
    background-color: #fff;

}

@media (max-width: 860px) {
    .slider-table__row{
        padding: 0px 16px;
    }
}

.slider-table__container {
    display: grid;
    grid-template-columns: minmax(354px, 470px) minmax(77px, 230px) minmax(82px, 200px) minmax(119px, 120px);
    column-gap: 20px;
    align-items: center;

    padding: 16px 0;
    border-bottom: 1px solid #e8e8e8;

}







.slider-table__subtitle {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

    color: #1B1C21;

    margin: 0;
    text-align: left;

}

.slider-table__row_transparent {

    line-height: 16px;
    color: #7E7E82;

    mix-blend-mode: normal;
    opacity: 0.72;



    background-color: transparent;
}

.slider-table__button {


    background-color: #FF3E79;

    /* Заказать */
    font-family: 'TT Lakes';
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    letter-spacing: -0.15px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    padding: 4px 4px 4px 12px;

    border-radius: 16px;


    background-image: url(../images/sliderTableBtn.svg);
    background-repeat: no-repeat;
    background-position: 85% 50%;
    color: #FFFFFF;


}


.slide-subtitle{
font-family: 'TT Lakes';
font-size: 14px;
line-height: 20px;
/* or 143% */
letter-spacing: 0.2px;

color: #1B1C21;

max-width: 421px;
margin: 0;
padding: 32px 0 16px 32px;

}

.slide-hyperlink{


}

/* ------------------------------------------------------------------------------------ */