@import url(./swiper-bundle.min.css);
@import url(../fonts/TTLakes/stylesheet.css);
@import url(../blocks/body/body.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__row/header__row.css);

@import url(../blocks/container-buttons/container-buttons.css);

@import url(../blocks/container-buttons/_desctop/container-buttons_desctop.css);

@import url(../blocks/container-buttons/__subtitle/container-buttons__subtitle.css);

@import url(../blocks/round-button/round-button.css);
@import url(../blocks/round-button/_burger/round-button_burger.css);
@import url(../blocks/round-button/_call/round-button_call.css);
@import url(../blocks/round-button/_support/round-button_support.css);
@import url(../blocks/round-button/_profile/round-button_profile.css);
@import url(../blocks/round-button/_repair/round-button_repair.css);
@import url(../blocks/round-button/_lupa/round-button_lupa.css);
@import url(../blocks/round-button/_exit/round-button_exit.css);
@import url(../blocks/round-button/_search/round-button_search.css);

@import url(../blocks/container-logo/container-logo.css);
@import url(../blocks/container-logo/__image/container-logo__image.css);

@import url(../blocks/main/main.css);

@import url(../blocks/page/__title/page__title.css);

@import url(../blocks/header-nav/header-nav.css);

@import url(../blocks/navigation/navigation.css);
@import url(../blocks/navigation/__list/navigation__list.css);
@import url(../blocks/navigation/__point/navigation__point.css);
@import url(../blocks/navigation/__link/navigation__link.css);

@import url(../blocks/container-about/container-about.css);
@import url(../blocks/container-about/__collumn/container-about-collumn.css);
@import url(../blocks/container-about/__subtitle/container-about__subtitle.css);
@import url(../blocks/container-about/__more-information/container-about__more-information.css);
@import url(../blocks/container-about/__image/container-about__image.css);
@import url(../blocks/container-about/__subtitle-box/container-about__subtitle-box.css);

@import url(../blocks/container-href/container-href.css);





/* -----------------burger-menu---------------------------------------- */

@import url(../blocks/menu/menu.css);

@import url(../blocks/header-menu/header-menu.css);
@import url(../blocks/header-menu/__row/header-menu__row.css);
@import url(../blocks/header-menu/__logo/header-menu__logo.css);
@import url(../blocks/header-menu/__button/header-menu__button.css);

@import url(../blocks/navigate-menu/navigate-menu.css);
@import url(../blocks/navigate-menu/__list/navigate-menu__list.css);
@import url(../blocks/navigate-menu/__item/navigate-menu__item.css);
@import url(../blocks/navigate-menu/__link/navigate-menu__link.css);

@import url(../blocks/contacts-menu/contacts-menu.css);
@import url(../blocks/contacts-menu/__buttons/contacts-menu__buttons.css);
@import url(../blocks/contacts-menu/__mail/contacts-menu__mail.css);
@import url(../blocks/contacts-menu/__tel/contacts-menu__tel.css);

@import url(../blocks/.container-language/__lang/container-language__lang.css);


/* -----------------------slider----------------------- */

@import url(../blocks/slide-title/slide-title.css);

@import url(../blocks/slider/slider.css);
@import url(../blocks/slider/__box/slider__box.css);
@import url(../blocks/slider/__button/slider__button.css);

@import url(../blocks/slide-more/slide-more.css);

@import url(../blocks/open/open.css);


@import url(../blocks/swiper/swiper.css);
@import url(../blocks/swiper-slide/__content/swiper-slide__content.css);
@import url(../blocks/swiper-slide/-active/swiper-slide-active.css);

@import url(../blocks/swiper-pagination/-bullet/swiper-pagination-bullet.css);
@import url(../blocks/swiper-pagination/-fraction/swiper-pagination-fraction.css);


/* ----------------------------second-slider--------------------------------- */


.swiper-first {
    height: 154px
}


.second-slider {}

.slider__title {
    margin: 16px auto 0 16px;

    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;

    color: #1B1C21;
}

.slider__box_big {
    padding: 0;
    height: 160px;
    flex-direction: column;
}

.slider__bottom_right-bottom {
    margin: 0 16px 16px auto;
}

.swiper-second {
    height: 216px;
    display: none;
    position: relative;
}




@media (max-width: 520px) {
    .swiper-second {
        display: block;
    }
}

.swiper-pagination_second:nth-child(2) {
    bottom: 11px;
}

.swiper-pagination_third:nth-child(2) {
    bottom: 16px;
}



/* ------------------------------------slider-third-------------------------- */


* {
    /* outline: 1px solid green; */
}

.slider-table {
    margin: 0 auto;
    width: calc(100% - 64px);
    border-radius: 6px;

}

@media (max-width: 860px) {
    .slider-table {
        width: calc(100% - 48px);
    }
}

@media (max-width: 767px) {
    .slider-table {
        width: calc(100% - 24px);
    }
}

@media (max-width: 520px) {
    .slider-table {
        display: none;
    }
}

.slider-table__row {
    box-sizing: border-box;
    padding: 0px 24px;
    background-color: #fff;

}

@media (max-width: 860px) {
    .slider-table__row {
        padding: 0px 16px;
    }
}

.slider-table__container {
    display: grid;
    grid-template-columns: minmax(354px, 470px) minmax(77px, 230px) minmax(82px, 200px) minmax(119px, 120px);
    column-gap: 9%;
    align-items: center;

    padding: 16px 0;
    border-bottom: 1px solid #e8e8e8;

}

@media (max-width: 1440px) {
    .slider-table__container {
        column-gap: 20px;
    }
}

@media (max-width: 767px) {
    .slider-table__container {
        grid-template-columns: minmax(190px, 470px) minmax(77px, 230px) minmax(82px, 200px) minmax(119px, 120px);
        column-gap: 0;
    }
}






.slider-table__subtitle {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

    color: #1B1C21;

    margin: 0;
    text-align: left;
}

@media (max-width: 767px) {
    .slider-table__subtitle {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    .slider-table__subtitle {
        font-size: 14px;
    }
}

.slider-table__row_transparent {

    line-height: 16px;
    color: #7E7E82;

    mix-blend-mode: normal;
    opacity: 0.72;



    background-color: transparent;
}

.slider-table__button {


    background-color: #FF3E79;

    /* Заказать */
    font-family: 'TT Lakes';
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    letter-spacing: -0.15px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    padding: 4px 4px 4px 12px;

    border-radius: 16px;


    background-image: url(../images/sliderTableBtn.svg);
    background-repeat: no-repeat;
    background-position: 85% 50%;
    color: #FFFFFF;

    box-sizing: border-box;

}


.slide-subtitle {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;

    color: #1B1C21;

    max-width: 421px;
    margin: 0;
    padding: 32px 0 16px 32px;

}

@media (max-width: 768px) {
    .slide-subtitle {
        padding: 24px 0 16px 24px;
    }
}

@media (max-width: 460px) {
    .slide-subtitle {
        padding: 16px;
        width: calc(100% - 32px);
    }
}

.slide-hyperlink {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;

    color: #1B1C21;
    display: flex;
    text-decoration: none;
    padding: 0 0 0 32px;
    font-weight: 500;

}

@media (max-width: 768px) {
    .slide-hyperlink {

        padding: 0 0 0 24px;
    }
}

@media (max-width: 460px) {
    .slide-hyperlink {
        display: inline-block;
        max-width: 60%;
        padding: 0 0 0 16px;
    }
}


.slide-hyperlink::after {
    content: '';
    background-image: url(../images/pink-more.svg);
    width: 24px;
    height: 24px;

}

@media (max-width: 460px) {
    .slide-hyperlink::after {
        display: inline-block;
        vertical-align: middle;
    }
}










.swiper-third {
    height: 260px;
    display: none;
    position: relative;
}

@media (max-width: 520px) {
    .swiper-third {
        display: block;
    }
}


.slider__box_biggest {
    height: 200px;
    width: 260px;

    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 16px;
    gap: 16px;
    justify-content: space-evenly;
    margin: 16px 0 0 8px;

}


.slider-content__container {
    display: flex;
    flex-direction: column;
    min-width: 81px;
}

.slider-content__container-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.slider-table__subtitle_color_grey {
    color: #7E7E82;
    line-height: 16px;
    mix-blend-mode: normal;
    opacity: 0.72;
    margin: 0 4px 0 0;
}

.slider-table__button {
    min-width: 119px;
    margin: 7px 0 0 0;
}

.slider-content__container-subtitles {
    margin: 0 10px 0 0;
}



/* ------------------------------------------------------------------------------------ */
.footer {
    max-width: 1920px;
    margin-left: 322px;
    padding: 83px 0 21px 0;
}

@media (max-width: 1200px) {
    .footer {
        margin: 0;
    }
}

@media (max-width: 720px) {
    .footer {
        padding: 40px 0 4px 0;
    }
}

.footer-flex {
    border-top: 1px solid #D9FFF5;
    display: flex;
    justify-content: space-between;
    padding: 32px 33px 0 31px;
}

@media (max-width: 900px) {
    .footer-flex {
        padding: 32px 24px 0;
    }
}

@media (max-width: 720px) {
    .footer-flex {
        flex-direction: column;
        align-items: center;
        padding: 16px 0 0 0;
    }
}

.footer-flex__subtitle {
    margin: 0;
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #7E7E82;

    mix-blend-mode: normal;
    opacity: 0.72;

}

@media (max-width: 720px) {
    .footer-flex__subtitle {
        margin: 0 0 16px 0;
    }
}

.footer-flex__subtitle_team-name {
    max-width: 218px;
    text-align: left;
}

@media (max-width: 720px) {
    .footer-flex__subtitle_team-name {
        text-align: center;
    }
}

.footer-flex__subtitle_disclam {
    max-width: 330px;
    text-align: end;
}

@media (max-width: 900px) {
    .footer-flex__subtitle_disclam {
        max-width: 213px;
    }
}

@media (max-width: 720px) {
    .footer-flex__subtitle_disclam {
        max-width: none;
        text-align: center;
    }
}

.footer-flex__subtitle_politic {
    max-width: 217px;
}

@media (max-width: 900px) {
    .footer-flex__subtitle_politic {
        max-width: 214px;
    }
}


