$whiteColor: #fff;

$tablePar_1: 1px solid #D9FFF5;
$tablePar_2: 1px solid #B8FFEC;
$tablePar_3: 1px solid #e7e7e7;
$tablePar_5: 2px solid #FF3E79;
$tablePar_6: 1px solid #e8e8e8;
$tablePar_7: 1px solid #B5B6BC;

$textColor_1: #1B1C21;
$textColor_2: #7E7E82;
$textColor_4: #B5B6BC;

$bgColor_1: #eaeaea;
$bgColor_2: #FF3E79;
$bgColor_3: #ff3e78ac;
$bgColor_4: #f8f8f8;
$bgColor_6: #41F6D7;

$bgColor_8: #979797;