.main {
    background-color: $bgColor_4;
    max-width: 1920px;
    padding-left: 322px;
    box-sizing: border-box;

    @media (max-width: 1200px) {
        padding-left: 0;
        max-width: none;
    }
}