.modal__button_exit_call {
    display: block;
    position: absolute;
    top: 32px;
    left: -73px;
}

@media (max-width: 560px) {
    .modal__button_exit_call {
        position: static;
        margin: 24px 0 0 0;
    }
}