.footer {
    max-width: 1920px;
    margin-left: 322px;
    padding: 0px 0 21px 0;
    background-color: $bgColor_4;

    @media (max-width: 1200px) {
        margin: 0;
    }

    @media (max-width: 720px) {
        padding: 0px 0 4px 0;
    }
}