.footer {
    max-width: 1920px;
    box-sizing: border-box;
    padding: 0px 0 21px 322px;
    background-color: $bgColor_4;

    @media (max-width: 1200px) {
        padding: 0 0 21px 0;
    }

    @media (max-width: 720px) {
        padding: 0px 0 4px 0;
    }
}