.round-button {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    margin: 0 16px 0 0;
    padding: 0;
    border: none;
    transition: background-color 0.4s;
}

@media (min-width: 1201px) {
    .round-button {
        margin: 0;
    }
}




.header__row>.round-button {
    display: none;
}

@media (max-width: 1200px) {
    .header__row>.round-button {
        display: block;
    }
}

.round-button:hover {
    cursor: pointer;
    background-color: #ff3e78ac;
}