.container-about__subtitle-box{
    margin: 16px 0 0 0;
    transition: 1s;
}

@media only screen and (min-width: 656px) and (max-width: 1024px) {
    .container-about__subtitle-box {
        max-height: 160px;
        display: block;
        overflow: hidden;
        margin: 0px 0 0 0;
    }
}

@media (max-width: 656px) {
    .container-about__subtitle-box {
        max-height: 90px;
        display: block;
        overflow: hidden;
    }
}