.slider__button {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: $tablePar_5;
    border-radius: 20px;
    display: flex;
    background: url(../images/slider-button.svg) no-repeat 50%;
}