.header-menu__button {
    margin: 0 16px 0 0;
}


.header-menu__button:nth-child(1){
    display: none;
}
@media (max-width: 1200px) {
    .header-menu__button:nth-child(1) {
        margin: 0 16px 0 0;
        display: block;
    }
}