.contaier-buttons__subtitle {
    display: block;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: #1B1C21;
    margin: 0 8px 0 0;
}

@media (max-width:1024px) {
    .contaier-buttons__subtitle {
        display: none;
    }
}