.container-language__lang {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: $textColor_1;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0 7px 0 0;
}

.focus {
    color: $textColor_2;
}