.swiper-pagination-bullet {
    background-color: #979797;
    width: 12px;
    height: 12px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px 0;
}
 