.container-about__more-information {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin: 14px 0 0 0;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

.container-about__more-information::before {
    content: url(../../../images/more.svg);
    text-align: center;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 8px 0 16px;
}

@media only screen and (min-width: 656px) and (max-width: 1024px) {
    .container-about__more-information {
        margin: 10px 0 0 0;
    }

    .container-about__more-information::before {
        margin: 0 8px 0 1px;
    }
}

@media (max-width: 656px) {
    .container-about__more-information {
        margin: 0;
    }
}

.container-about__more-information:hover {
    color: #1b1c218d;
    cursor: pointer;
}