.slider {
    width: calc(100% - 64px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 32px;
    max-height: 160px;
    overflow: hidden;
    padding: 24px 0 0 0;
    justify-content: center;
    transition: max-height 1s;
}

@media (max-width: 1120px) {
    .slider {
        width: calc(100% - 48px);
        gap: 16px 24px;
    }
}

@media (max-width: 520px) {
    .slider {
        display: none;
    }
}