.menu {
    box-sizing: border-box;
    position: absolute;
    width: 320px;
    padding: 18px 0 32px 24px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

@media (max-width: 1200px) {
    .menu{
        display: none;
    }
}