.menu {
    height: 100vh;
    box-sizing: border-box;
    position: fixed;

    width: 320px;
    padding: 18px 0 32px 24px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    background-color: $whiteColor;
    z-index: 3;


    @media (max-width: 520px) {

        width: 100%;
    }
}