.slider-table__container {
    display: grid;
    grid-template-columns: minmax(354px, 470px) minmax(77px, 230px) minmax(82px, 200px) minmax(119px, 120px);
    column-gap: 9%;
    align-items: center;

    padding: 16px 0;
    border-bottom: 1px solid #e8e8e8;

}

@media (max-width: 1440px) {
    .slider-table__container {
        column-gap: 20px;
    }
}

@media (max-width: 767px) {
    .slider-table__container {
        grid-template-columns: minmax(190px, 470px) minmax(77px, 230px) minmax(82px, 200px) minmax(119px, 120px);
        column-gap: 0;
    }
}