.header {
    display: none;

    @media (max-width: 1200px) {
        display: flex;
        min-height: 88px;
        border-bottom: 1px solid #D9FFF5;
        background-color: #ffffff;
        padding: 0;
        margin: 0;
    }

    @media (max-width: 520px) {
        justify-content: center;
    }

    @media only screen and (min-width: 521px) and (max-width: 1200px) {
        justify-content: space-between;
    }

    .header__row {
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: 521px) and (max-width: 1200px) {
            margin: 0 0 0 24px;
        }

        @media (max-width: 520px) {
            margin-left: 16px;
        }

        @media only screen and (min-width: 521px) and (max-width: 1024px) {
            &:nth-child(2) {
                margin: 0 8px 0 0;
            }
        }

        @media (max-width: 520px) {
            &:nth-child(2) {
                margin-left: 20px;
            }
        }

        @media (max-width: 520px) {
            &:nth-child(1)::after {
                content: '';
                width: 2px;
                height: 32px;
                border-radius: 1px;
                background-color: #eaeaea;
                margin: auto;
            }
        }
    }
}