.slide-title {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    margin: 0;
    padding: 16px 0 16px 32px;
    background: linear-gradient(to right, #f8f8f8, #ffffff);
    border-top: 1px solid #D9FFF5;


    @media (max-width: 1120px) {
        padding: 16px 24px;

    }

    @media (max-width: 520px) {
        padding: 16px;
    }
}